<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= link_to t("list_request"), club_manager_club_user_clubs_path %></a></li>
    <li><%= t "show_request" %></li>
  </ul>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="block full">
        <div class="block-title">
          <h2><strong>
            <%= @user_club.full_name %>
            <%= t "request_to_join"%>
          </strong></h2>
        </div>
        <div class="block-content">
          <div class="center"><%= image_tag @user_club.avatar,
              class: "circle-profile" %></div><hr>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
              <strong class="pull-right"><%= t "name" %></strong>
            </div>
            <div class="col-md-6 center"><%= @user_club.full_name %></div>
            <div class="col-md-1"></div>
          </div><hr>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
              <strong class="pull-right"><%= t "email" %></strong>
            </div>
            <div class="col-md-6 center"><%= @user_club.email %></div>
            <div class="col-md-1"></div>
          </div><hr>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
              <strong class="pull-right"><%= t "phone" %></strong>
            </div>
            <div class="col-md-6 center"><%= @user_club.phone %></div>
            <div class="col-md-1"></div>
          </div><hr>
          <div class="row">
            <div class="center">
              <div class="row">
                <% if @user_club.status_id == Settings.approved %>
                  <%= button_to t("approved"), t("do_nothing"),
                    class: "btn btn-lg btn-primary" %>
                <% else %>
                  <%= form_for [:club_manager, @club, @user_club] do |f| %>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-2">
                        <strong class="pull-right"><%= t "status" %></strong>
                      </div>
                      <div class="col-md-2 center"></div>
                      <div class="col-md-2 center">
                        <%= f.select :status_id,
                          get_all_status.collect {|item| [ t("#{item.status_content.parameterize}"),
                          item.id ]}, {}, {class: "form-control selectpicker",
                          "data-live-search": true, selected:  @user_club.status_id} %>
                      </div>
                    </div><hr>
                    <%= f.submit t("submit"), class: "btn btn-lg btn-primary" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
