<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= t "admin" %></li>
    <li><%= link_to t("list_users"), admin_users_path %></a></li>
  </ul>
  <!-- END Datatables Header -->
  <!-- Datatables Content -->
  <div class="block full">
    <div class="block-title">
      <h2><strong><%= t " users" %></strong></h2>
    </div>
    <div class="table-responsive">
      <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center"><%= t "id" %></th>
            <th class="text-center"><i class="gi gi-user"></i></th>
            <th><%= t "user_name" %></th>
            <th><%= t "email" %></th>
            <th><%= t "company" %></th>
            <th class="text-center"><%= t "set_company_admin" %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user|%>
            <tr>
              <td class="text-center"><%= user.id %></td>
              <td class="text-center"><%= image_tag user.avatar,
                class: "circle-profile-list" %></td>
              <td><a href="javascript:void(0)"><%= user.full_name %></a></td>
              <td><%= user.email %></td>
              <td><%= user.organization.name %></td>
              <td class="text-center">
                <%= link_to t("view"), admin_user_path(id: user.id),
                  class: "btn btn-lg btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
